body {
  padding: 0;
  text-align: center;
  background-color: #000;
}

.controls {
  float: left;
  padding: 0% 0%;
  width: 20%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.arrows-img {
  width: 150px;
}

#start-button {
  font-size: 20px;
  background-color: #870007;
  color: #fff;
  padding: 10px 25px;
  background-color: #870007;
  border: 5px outset #870007;
  box-shadow: 0;
  margin-top: 20px;
  text-shadow: -1px -1px rgba(0, 0, 0, 1);
}

#pausebutton {
  font-size: 20px;
  background-color: #fae902;
  color: rgb(187, 0, 0);
  padding: 10px 25px;
  background-color: #fae902;
  border: 5px outset #fae902;
  box-shadow: 0;
  margin-top: 20px;
  text-shadow: -1px -1px rgba(0, 0, 0, 1);
}

#playbutton {
  font-size: 20px;
  background-color:  rgb(187, 0, 0);
  color: #fae902;
  padding: 10px 25px;
  background-color:  rgb(187, 0, 0);
  border: 5px outset rgb(187, 0, 0)02;
  box-shadow: 0;
  margin-top: 20px;
  text-shadow: -1px -1px rgba(0, 0, 0, 1);
}

#screen {
  width: 60%;
  float: left;
  padding: 10px 0px;
  overflow: hidden;
}

canvas {
  border: 1px solid #000;
}

.cell {
  float: right;
}

.fireball {
  background-image: url("images/energy-ball.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.container-lifes {
  position: relative;
  top: 50px;
  float: left;
  margin-left: 20px;
}

.score {
  color: #000;
  float: right;
  top: 50px;
  position: relative;
  font-family: comic sans ms;
  margin-right: 20px;
}

.opacity-0 {
  opacity: 0;
}

#clock{
  float: left;
  position: absolute;
  text-align: left;
  left: 50%;
  top: 70px;
  font-family: comic sans ms;
}

#initial-screen {
  background-image: url(images/initial-screen.jpg);
  height: 554px; 
  width: 757px;
  position: absolute;
  z-index: 100;
}


.mission{
  height: 150px;
  position: relative;
  vertical-align: middle;
}


.gohan-moves{
  float: left;
  width: 33%;
}

.gohan-moves img{
  display: unset;
  width: 90%;
}

.gohan-pic{
  float: left;
  width: 33%;
}

.gohan-pic img{
  display: unset;
  width: 60%;
}

.villan-moves{
  float: left;
  width: 33%;
}

.villan-moves img{
  display: unset;
  width: 75%;
}